.p-20px{
    padding: var(--c-size-20px);
}
.p-header-20px{
    padding-top: var(--c-size-20px);
    padding-right: var(--c-size-20px);
    padding-left: var(--c-size-20px);
}
.mb-20px{
    margin-bottom: var(--c-size-20px);
}
.mb-10px{
    margin-bottom: var(--c-size-10px);
}
.my--10px{
    margin-top: -10px !important;
    margin-bottom: -10px !important;
}
.margin-none{
    margin: none !important;
}
.margin-orgid{
    margin-left: 8.125rem;
}
.margin-emailaddress{
    margin-left: 13.75rem;
}
.margin-organization{
    margin-left:10.625rem;
}
.margin-contact{
    margin-left:2.813rem;
}
.margin-tin{
    margin-left: 8.438rem;
}
