.container2{
    width: 417px;
    height: 573px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 4px;

}

.colors-font{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: #000000;
    margin-left: 15px;
    margin-top: 15px;
}
.colors{
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    color: #000000; 
    border-color: var(--vt-c-black);             
}

.iconography{
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    color: #000000; 
    border-color: var(--vt-c-black);             
}

.container3{
    width: 417px; 
    height: 803px;
    left: 0px;
    top: 0px;
    background: #FFFFFF var(--vt-c-white); 
    border: 1px solid #000000;
    border-radius: 4px;
}

.icon-size{
    font-size: 24px;
    margin-left: 15px;
    margin-top: 15px;
}

.icon1{
    font-weight: 600;
    font-size: 70px;
    color: #000000;
    margin-left: 15px;
}
/* icon colors */
.violet{
     color: #6A00FF;
}

.blue{
    color: #7E9FFF;
    border-color: var(--vt-c-electric-indigo);             
}

.gray{
    color: #666666;
    border-color: var(--vt-c-dim-gray);
}

.icon-size-svg{
    width: 24px;
    height: 24px;
}