.container2{
    width: 417px; 
    height: 573px
}

.color{
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    color: #000000;  
}

.iconography{
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    color: #000000;  
}

.container3{
    width: 417px; 
    height: 803px;
}

.color1{ 
    width: 77px;
    height: 77px;
    background: #FFFFFF var(--vt-c-white);  
    border: 1px solid #F4F4FF;  
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08);
    border-radius: 4px; 
    border-color: var(--vt-c-white-smoke);
}

.color2{ 
    width: 77px;
    height: 77px;
    background: #6A00FF; 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08);
    border-radius: 4px;      
    border-color: var(--vt-c-electric-indigo);             
    
 }
 
.color3{ 
    width: 77px;
    height: 77px;
    background: #000000;  
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    border-color: var(--vt-c-black);             
}

.color4{ 
    width: 77px;
    height: 77px;
    background: #F3F6FF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    border-color: var(--vt-c-ghost-white);           
}

.color5{
    width: 77px;
    height: 77px;
    background: #C6C7F9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08);
    border-radius: 4px;    
    border-color: var(--vt-c-lavander-blue);            
}

.color6{ 
    width: 77px;
    height: 77px;
    background: #7E9FFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08);
    border-radius: 4px;  
    border-color: var(--vt-c-cornflower-blue);        
}

.color7{
    width: 77px;
    height: 77px;
    background: #666666;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    border-color: var(--vt-c-dim-gray);                 
}

.color8{ 
    width: 77px;
    height: 77px;
    background: #ACACAC;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    border-color: var(--vt-c-dark-gray);      
}

.color9{ 
    width: 77px;
    height: 77px;
    background: #5500CD;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    border-color: var(--vt-c-purple-heart);      
}
    
.color10{ 
    width: 77px;
    height: 77px;
    background: #27AE60;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    border-color: var(--vt-c-eucalyptus);        
}

.color11{ 
    width: 77px;
    height: 77px;
    background: #DB524E;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    border-color: var(--vt-c-valencia);           
}

/* icon colors */

.violet{
     color: #6A00FF;

}

.blue{
    color: #7E9FFF;
    border-color: var(--vt-c-electric-indigo);             
}

.gray{
    color: #666666;
    border-color: var(--vt-c-dim-gray);
}