.licensekey{
    width: 942px;
    background: var(--vt-c-white); 
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
}

.icon-x-license{
    border-radius: 50% !important;
    background-color: var(--vt-c-indigo);
    border-style: solid;
    border-color: var(--vt-c-indigo);
    font-size: var(--c-size-24px);
    color: var(--vt-c-white);
    width: 44px;
    height: 40px;
    margin-left: var(--c-size-10px);
    margin-top: var(--c-size-20px);
    margin-bottom: var(--c-size-10px);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
}

.form-select{
    font-family: 'Roboto', sans-serif;  
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;    
    display: flex;
    align-items: center;    
    border: none;
    margin-top: 20px;
}

.license-header{
    font-family: 'Roboto-black', sans-serif;  
    font-weight: 900;
    font-size: 32px;
    line-height: 38px;
    display: flex;
    align-items: center;
    color: var(--vt-c-black);
}
/* licensekey-arrow-icon */

.licensekey-icon-dropdown{
    position:absolute;
    left:855px; 
    bottom: 15px;
}

.license{
    margin: 20px;
}

.border-bottom-license {
    border-bottom: 1px solid;
    border-color: #F4F4F4;
  }

  /* size  */
  .size-licensekey-inputfield{
    width: 902px;
    height: 56px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.04), 0px 4px 16px rgba(51, 51, 51, 0.08);
    border-radius: 4px;
  }
  /* size  */

