
.container7{
    width: 942px;
    height: 632px;
    background: #FFFFFF var(--vt-c-white);  
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
}

.form-select{
    font-family: 'Roboto', sans-serif;  
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;    
    display: flex;
    align-items: center;    
    color: #000000;
}

.license-header{
    font-family: 'Roboto', sans-serif;  
    font-weight: 900;
    font-size: 32px;
    line-height: 38px;
    display: flex;
    align-items: center;
    color: #000000;
}

.license-button{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
    width: 75px;
    height: 44px;    
    background: #6A00FF var(--vt-c-electric-indigo);
    border-radius: 4px;    
    flex: none;
    order: 1;
    flex-grow: 0;
}

.container8{
    width: 942px;
    height: 404px;
    background: #FFFFFF;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
}

.label{
    font-family: 'Roboto', sans-serif;  
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    display: flex;
    align-items: center;
    color: #666666;
}