.container1{
    width: 481px;
    height: 314px;
    box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.04), 0px 4px 16px rgba(51, 51, 51, 0.08);
    border-radius: 8px;
    background: #FFFFFF;
    border-radius: 16px;
    border-color: var(--vt-c-white);          
}

.font-style-roboto{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 32px;
    line-height: 38px;    
    align-items: center;
    text-align: center;    
    color: #000000;
    border-color: var(--vt-c-black);             
}

.font-style-gotham{
    font-family: 'Gotham-light', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 15px;
    font-weight: 400;
    display: flex;
    color: #000000;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    border-color: var(--vt-c-black);             
}

.info2{
    width: 96px;
    height: 96px;
}

.modal-header1{
    font-family: 'Gotham', sans-serif;
    font-weight: 700;
    font-size: 24px;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    border-color: var(--vt-c-black);             
}

.modal1{
    font-family: 'Gotham', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.form-control{
    border-style: none;
    box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.04), 0px 4px 16px rgba(51, 51, 51, 0.08);
    border-radius: 4px;
}

.alert-font{
    font-style: normal;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
}

.form-control-1{
    width: 455px;
    height: 40px;
    background: #FFF5F5;    
    border: 1px solid #DB524E;    
    box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.04), 0px 4px 16px rgba(51, 51, 51, 0.08);
    border-radius: 4px;
    border-color: var(--vt-c-valencia);           
}

.modal2{
    font-family: 'Gotham-light', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;    
    color: #000000;
    border-color: var(--vt-c-black);             
}

/* cont2 */
.con2{
    width: 496px;
    height: 294px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    border-color: var(--vt-c-white);          
}
.form-select{
    font-family: 'Roboto', sans-serif;
    box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.04), 0px 4px 16px rgba(51, 51, 51, 0.08);
    border-radius: 4px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    align-items: center;
    color: #111111;
    border-color: var(--vt-c-black);             
}

/* container 3 */
.con3{
    width: 496px;
    height: 259px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    border-color: var(--vt-c-white-smoke);
}
.modal3{
    font-family: 'Gotham-light', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;    
    color: #000000;
    border-color: var(--vt-c-black);             
}

/* container 4 */
.con4{
    width: 496px;
    height: 393px;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    border-color: var(--vt-c-white-smoke);
}
.modal-4{
    font-family:'Roboto', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;    
    color: #DB524E;    
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.modal4{
    font-family: 'Gotham-light', sans-serif;
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;    
    color: #000000;
    border-color: var(--vt-c-black);             
}

.button-cancel{
    align-items: center;
    padding: 10px 20px;
    width: 90px;
    height: 44px;    
    border-radius: var(--c-size-4px);
    background-color: var(--vt-c-white);
    border-style: solid;
    border-color: var(--vt-c-indigo);
    font-family: var(--c-font-styles-roboto);
    font-size: var(--c-font-size-16px);
    color: var(--vt-c-indigo);
    margin-left: var(--c-size-10px);
    margin-right: var(--c-size-10px);
    margin-top: var(--c-size-10px);
    margin-bottom: var(--c-size-10px);
}

.button-submit{
    align-items: center;
    padding: 10px 20px;
    width: 90px;
    height: 44px;    
    border-radius: var(--c-size-4px);
    background-color: var(--vt-c-indigo);
    border-style: solid;
    border-color: var(--vt-c-indigo);
    font-family: var(--c-font-styles-roboto);
    font-size: var(--c-font-size-16px);
    color: var(--vt-c-white);
    margin-left: var(--c-size-10px);
    margin-right: var(--c-size-10px);
    margin-top: var(--c-size-10px);
    margin-bottom: var(--c-size-10px);
}

.component-button2{
    border-radius: var(--c-size-4px);
    background-color: var(--vt-c-indigo);
    border-style: solid;
    border-color: var(--vt-c-indigo);
    font-family: var(--c-font-styles-roboto);
    font-size: var(--c-font-size-16px);
    color: var(--vt-c-white);
    padding-left: var(--c-size-20px);
    padding-right: var(--c-size-20px);
    padding-top: var(--c-size-10px);
    padding-bottom: var(--c-size-10px);
    margin-left: var(--c-size-10px);
    margin-right: var(--c-size-10px);
    margin-top: var(--c-size-10px);
    margin-bottom: var(--c-size-10px);
}
  
.icon-x{
    border-radius: 50% !important;
    background-color: var(--vt-c-indigo);
    border-style: solid;
    border-color: var(--vt-c-indigo);
    font-size: var(--c-size-24px);
    color: var(--vt-c-white);
    width: 44px;
    height: 44px;
    margin-left: var(--c-size-10px);
    margin-right: var(--c-size-10px);
    margin-top: var(--c-size-10px);
    margin-bottom: var(--c-size-10px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.component-button3{
    align-items: center;
    width: 90px;
    height: 44px;   
    border-radius: var(--c-size-4px);
    background-color: var(--vt-c-indigo);
    border-style: solid;
    border-color: var(--vt-c-indigo);
    font-family: var(--c-font-styles-roboto);
    font-size: var(--c-font-size-16px);
    color: var(--vt-c-white);
    margin-left: var(--c-size-10px);
    margin-right: var(--c-size-20px);
    margin-top: none;
    margin-bottom: var(--c-size-10px);
}
