.modal-container1{
    width: 481px;
    height: 314px;
    box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.04), 0px 4px 16px rgba(51, 51, 51, 0.08);
    border-radius: 8px;
    background: var(--vt-c-white);  
    border-radius: 16px;
    padding-top: 10px;
    padding-bottom: 16px;
    padding-left: 20px;
    padding-right: 21px;
}

.font-style-roboto{
    font-family: 'Roboto-black', sans-serif;
    font-weight: 900;
    font-size: 32px;
    line-height: 38px;    
    align-items: center;
    text-align: center;    
    color: var(--vt-c-black);
}

.font-style-gotham{
    font-family: 'Gotham-light', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 15px;
    font-weight: 400;
    display: flex;
    color: var(--vt-c-black);             
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;            
}

.info2{
    width: 96px;
    height: 96px;
}

.modal-header1{
    font-family: 'Gotham', sans-serif;
    font-weight: 700;
    font-size: 24px;
    font-size: 24px;
    line-height: 29px;
    color: var(--vt-c-black);  
}

.modal1{
    font-family: 'Gotham', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.form-control{
    border-style: none;
    border-radius: 4px;

}

.alert-font{
    font-style: normal;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
}

.form-control-1{
    width: 455px;
    height: 40px;
    background: #FFF5F5;    
    border: 1px solid #DB524E;    
    border-radius: 4px;
    border-color: var(--vt-c-valencia);   
}

.modal2{
    font-family: 'Gotham-light', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;  
    align-self: stretch;  
    color: var(--vt-c-black); 
    display: flex;
}

/* cont2 */
.modal-con2{
    width: 496px;
    height: 294px;
    background: var(--vt-c-white);    
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    padding-top: 10px;
    padding-bottom: 16px;
    padding-left: 20px;
    padding-right: 21px;
}

.form-select{
    font-family: 'Roboto', sans-serif;
    box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.04), 0px 4px 16px rgba(51, 51, 51, 0.08);
    border-radius: 4px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    align-items: center;
    color: var(--vt-c-black); 
}

/* container 3 */
.modal-con3{
    width: 496px;
    height: 259px;
    background: var(--vt-c-white);  
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 21px;
}

/* container 4 */
.modal-con4{
    width: 496px;
    height: 393px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    border-color: var(--vt-c-white-smoke);
    padding-top: 10px;
    padding-bottom: 16px;
    padding-left: 20px;
    padding-right: 21px;
}
.modal3{
    font-family:'Roboto', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;    
    color: #DB524E;    
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin-top: 10px;
}

.icon-calendar{
    font-size: 20px;
}
