.margin-left-165px{
    margin-left: 6.563rem;
}
.outline-none{
    outline: none;
}
.table-inputbox-size{
    width: 16.75rem;
    height: 2.75rem;
}
.table-inputbox-icon-size{
    width: 1.5rem;
    height: 2.75rem;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f2f2f2 !important; /* Set the background color of odd rows */
  }
  
  .table-striped tbody tr:nth-of-type(even) {
    background-color: #ffffff !important; /* Set the background color of even rows */
  }