.container5{
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    position: relative;
    width: 707px;
    height: 1211px;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 4px;
}
/* gotham */
.Inter-ExtraBold{
    font-family: 'Inter-ExtraBold', sans-serif;
    font-style: normal;
    font-size: 20px;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;    
    align-items: center;
    color: #000000;
}

.fontfamily-gotham-heading-1{
    font-family: 'Gotham', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 35px;
    display: flex;
    align-items: center;
}

.fontfamily-gotham-heading-2{
    font-family: 'Gotham', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 27px;    
    display: flex;
    align-items: center;
}
.fontfamily-gotham-heading-3{
    font-family: 'Gotham', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;    
    display: flex;
    align-items: center;
}

.font-gotham-body-16px{
    font-family: 'Gotham';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 15px;
}
.font-gotham-body-14px{
    font-family: 'Gotham';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 13px;
}

.font-style-inter{
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #000000;
    border-color: var(--vt-c-black);    
    padding-left: 20px; 
    padding-right: 20px;
}

.body{
    font-family: 'Gotham-light', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 15px;
    display: flex;
    align-items: center;
    color: #000000;
    border-color: var(--vt-c-black);             
}

.body2{
    font-family: 'Gotham-light', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 13px;
    display: flex;
    align-items: center;
    color: #000000;
    border-color: var(--vt-c-black);             
}

/* .Roboto */
.roboto-headings{
    font-family: 'Roboto-black', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;  
}

.heading1 {
    font-family: 'Roboto-black', sans-serif;
    font-style: normal;
    font-size: 32px;
    line-height: 24px;
    display: flex;
    align-items: center;
}
.font-style-roboto-h{
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #000000 var(--vt-c-black); 
    padding-left: 20px; 
    padding-right: 20px;         
}

.heading2{
    font-family: 'Roboto', sans-serif;  
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #000000;
    border-color: var(--vt-c-black);             
}

.heading3{
    font-family: 'Roboto', sans-serif;  
    font-size: 16px;
    font-weight:400;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #000000;
    border-color: var(--vt-c-black);             
}

.heading4 {
    font-family: 'Roboto', sans-serif;  
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #000000;
    border-color: var(--vt-c-black);             
}
.heading5{
    font-family: 'Roboto', sans-serif;  
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #000000;
    border-color: var(--vt-c-black); 
}

.font-style-roboto-p1{
    font-family: 'Roboto', sans-serif;  
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #000000;
    border-color: var(--vt-c-black);             
}

.font-style-roboto-p2{
    font-family: 'Roboto', sans-serif;  
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #000000;
    border-color: var(--vt-c-black);     
}
/* poppins */
.Poppins-ExtraBold{
    font-family: 'Poppins-ExtraBold', sans-serif;  
    font-size: 24px;
    color: #000000;
    border-color: var(--vt-c-black);
    font-weight: 700;
    line-height: 36px;
}

.paragraph1{
    font-family: 'Poppins', sans-serif;  
    font-size: 16px;
    color: #000000;
    border-color: var(--vt-c-black);             
}
.poppins-body1{
    font-family: 'Poppins', sans-serif;  
    font-size: 20px;
    align-items: center;
    color: #000000;
    
    border-color: var(--vt-c-black);   
    padding-left: 20px; 
    padding-right: 20px;          
}
.font-weight-bold{
    font-weight: bold;
}

.inputbox-font{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
.button-fonts{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}