@import './base.css';
@import './css/bootstrap/bootstrap.css';
@import './vuesax.css';
@import './component-button.css';
@import './tables.css';
@import './css/typography.css';
@import './css/color-iconography.css';
@import './css/modal.css';
@import './stylebox-inputbox.css';
@import './colors.css';


#app {
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}